{{> header}}
<!-- Header End -->
<!-- Left Sidebar Start -->
{{> nav}}
<!-- Left Sidebar End -->
<!-- Body Start -->
<!-- Mirrored from gambolthemes.net/html-items/cursus_demo_f12/instructor_courses.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 20 Jun 2020 12:59:06 GMT -->

<div class="wrapper">
    <div class="sa4d25">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="st_title"><i class="uil uil-eye"></i>Admin Page</h2>
                </div>
                <div class="col-md-12">
                    <div class="card_dash1">
                        <div class="card_dash_left1">
                            <i class="uil uil-eye"></i>
                            <h1>Admin</h1>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="my_courses_tabs">
                        <ul class="nav nav-pills my_crse_nav" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-my-courses-tab" data-toggle="pill"
                                    href="#pills-my-courses" role="tab" aria-controls="pills-my-courses"
                                    aria-selected="true"><i class="uil uil-book-alt"></i>List of Teachers</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-my-purchases-tab" data-toggle="pill"
                                    href="#pills-my-purchases" role="tab" aria-controls="pills-my-purchases"
                                    aria-selected="false"><i class="uil uil-book-alt"></i>List of Students</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-upcoming-courses-tab" data-toggle="pill"
                                    href="#pills-upcoming-courses" role="tab" aria-controls="pills-upcoming-courses"
                                    aria-selected="false"><i class="uil uil-book-alt"></i>List of Courses</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-category-tab" data-toggle="pill" href="#pills-category"
                                    role="tab" aria-controls="pills-upcoming-courses" aria-selected="false"><i
                                        class="uil uil-book-alt"></i>List of Sub Categories</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-promotions-tab" data-toggle="pill"
                                    href="#pills-promotions" role="tab" aria-controls="pills-promotions"
                                    aria-selected="false"><i class="uil uil-file"></i>Create New Teacher
                                    Account</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-my-courses" role="tabpanel">
                                <div class="table-responsive mt-30">
                                    {{!-- list of teachers --}}

                                    <table class="table ucp-table">
                                        <thead class="thead-s">
                                            <tr>
                                                <th>Name</th>
                                                <th scope="col">Email</th>
                                                <th class="text-center" scope="col">Status</th>
                                                <th class="text-center" scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each listTeacherAccounts}}
                                            <tr>
                                                <td><a href="#"><b class="course_active">{{name}}</b></a></td>
                                                <td>{{email}}</td>
                                                {{!-- Dưới đây là trạng thái của tài khoản trong trường hợp block, nếu m
                                                xoá hẳn tài khoản thì bỏ luôn cái này với xoá dòng Status phía trên --}}
                                                {{#if active}}
                                                <td class="text-center"><b style="color: green;">Active</b></td>
                                                {{else}}
                                                <td class="text-center"><b style="color: red;">Blocked</b></td>
                                                {{/if}}
                                                <td class="text-center">
                                                    <a href="/admin/block-unblock-user?id={{this._id}}"
                                                        title="Block/Unblock" class="gray-s"><i
                                                            class="uil uil-trash-alt"></i></a>
                                                </td>
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-my-purchases" role="tabpanel">
                                <div class="table-responsive mt-30">
                                    {{!-- list of students --}}
                                    <table class="table ucp-table">
                                        <thead class="thead-s">
                                            <tr>
                                                <th>Name</th>
                                                <th scope="col">Email</th>
                                                <th class="text-center" scope="col">Status</th>
                                                <th class="text-center" scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each listStudentAccounts}}
                                            <tr>
                                                <td><a href="#"><b class="course_active">{{name}}</b></a></td>
                                                <td>{{email}}</td>
                                                {{!-- Dưới đây là trạng thái của tài khoản trong trường hợp block, nếu m
                                                xoá hẳn tài khoản thì bỏ luôn cái này với xoá dòng Status phía trên --}}
                                                {{#if active}}
                                                <td class="text-center"><b style="color: green;">Active</b></td>
                                                {{else}}
                                                <td class="text-center"><b style="color: red;">Blocked</b></td>
                                                {{/if}}
                                                <td class="text-center">
                                                    <a href="/admin/block-unblock-user?id={{this._id}}"
                                                        title="Block/Unblock" class="gray-s"><i
                                                            class="uil uil-trash-alt"></i></a>
                                                </td>
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-upcoming-courses" role="tabpanel">
                                <div class="table-responsive mt-30">
                                    {{!-- list of courses --}}
                                    <table class="table ucp-table">
                                        <thead class="thead-s">
                                            <tr>
                                                <th class="cell-ta">Title</th>
                                                <th class="text-center">Category</th>
                                                <th class="text-center">Sub Category</th>
                                                <th class="text-center">Price</th>
                                                <th>Teacher</th>
                                                <th class="text-center" scope="col">Status</th>
                                                <th class="text-center" scope="col">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each listCourses}}
                                            <tr>
                                                <td class="cell-ta"><b class="course_active">{{name}}</b>
                                                </td>
                                                <td class="text-center"><a href="{{categoryLink}}">{{category}}</a></td>
                                                <td class="text-center">{{subcategory}}</td>
                                                <td class="text-center">${{price}}</td>
                                                <td>{{teacherID.name}}</td>
                                                {{#if active}}
                                                <td class="text-center"><b style="color: green;">Active</b></td>
                                                {{else}}
                                                <td class="text-center"><b style="color: red;">Blocked</b></td>
                                                {{/if}}
                                                <td class="text-center">
                                                    <a href="/admin/block-unblock-course?id={{this._id}}"
                                                        title="Block/Unblock" class="gray-s"><i
                                                            class="uil uil-trash-alt"></i></a>
                                                </td>
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            {{!-- list of categories --}}
                            <div class="tab-pane fade" id="pills-category" role="tabpanel">
                                <a title="Save" class="btn1542" onclick="showInputSubcate('create-new-cate-form')"
                                    style="margin-top: 20px; margin-bottom:20px; float:left;">Create new
                                    Sub Category</a>
                                {{!-- input new sub category --}}
                                <div class="ui search focus" style="float: right; margin-top: 20px;"
                                    id="create-new-cate-form" hidden='true'>
                                    <div class="ui left icon input swdh11 swdh19">
                                        <form action="/admin/create-subcategory" method="POST" class="form--create-sub">
                                            <input class="prompt srch_explore" type="text" name="nameSubcate" value=""
                                                id="nameSubcate" required="" maxlength="64"
                                                placeholder="Name of Sub Category" style="height: 40px;">
                                            <button title="Save" type="submit" class="btn1542">Save</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="table-responsive mt-30">

                                    <table class="table ucp-table">
                                        <thead class="thead-s">
                                            <tr>
                                                <th>Sub Category</th>
                                                <th class="text-center">Number of courses</th>
                                                <th class="text-center" scope="col">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each listSubcategory}}
                                            <tr>
                                                <td class="cell-ta"><b class="course_active">{{name}}</b>
                                                </td>
                                                <td class="text-center">{{numCourse}}</td>
                                                <td class="text-center">
                                                    {{#is numCourse 0}}
                                                    <a href="/admin/delete-subcategory?name={{name}}" title="Delete"
                                                        class="gray-s"><i class="uil uil-trash-alt"></i></a>
                                                    {{/is}}
                                                    <a onclick="showInputSubcate('{{name}}')" title="Edit"
                                                        class="gray-s"><i class="uil uil-edit-alt"></i></a>
                                                </td>
                                            </tr>
                                            <tr id="{{name}}" hidden='true'>
                                                <td class="text-center">
                                                    <div class="ui search focus">
                                                        <div class="ui left icon input swdh11 swdh19">
                                                            <form action="/admin/edit-subcategory?name={{name}}"
                                                                method="POST" class="form--edit-sub">
                                                                <input class="prompt srch_explore" type="text"
                                                                    name="nameSubcate" value="{{name}}" id="{{name}}"
                                                                    required="" maxlength="64"
                                                                    placeholder="Name of Sub category"
                                                                    style="height: 30px;">
                                                                <button title="Save" type="submit" class="btn1542"
                                                                    style="margin-left: 15px;">Save</i></button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="text-center">

                                                </td>
                                                <td>

                                                </td>
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            {{!-- Thêm tài khoản cho giáo viên --}}
                            <div class="tab-pane fade" id="pills-promotions" role="tabpanel"
                                aria-labelledby="pills-promotions-tab">
                                <div class="promotion_tab mb-10">
                                    <form class="form--create-teacher-account" method="POST" action="/user/teacher">
                                        <div class="ui search focus">
                                            <div class="ui left icon input swdh11 swdh19">
                                                <input class="prompt srch_explore" type="text" name="name" value=""
                                                    id="id_fullname" required="" maxlength="64" placeholder="Full Name">
                                            </div>
                                        </div>
                                        <div class="ui search focus mt-15">
                                            <div class="ui left icon input swdh11 swdh19">
                                                <input class="prompt srch_explore" type="email" name="email"
                                                    value="" id="id_email" required="" maxlength="64"
                                                    placeholder="Email Address">
                                            </div>
                                        </div>
                                        <div class="ui search focus mt-15">
                                            <div class="ui left icon input swdh11 swdh19">
                                                <input class="prompt srch_explore" type="password" name="password"
                                                    value="" id="id_password" required="" maxlength="64"
                                                    placeholder="Password">
                                            </div>
                                        </div>
                                        <div class="ui search focus mt-15">
                                            <div class="ui left icon input swdh11 swdh19">
                                                <input class="prompt srch_explore" type="password" name="passwordConfirm"
                                                    value="" id="id_passwordConfirm" required="" maxlength="64"
                                                    placeholder="Password Confirm">
                                            </div>
                                        </div>
                                        <button class="btn1542" style="margin-top: 10px" type="submit">Create Teacher
                                            Account</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
    <script>
        function showInputSubcate(x) {
            document.getElementById(x).hidden = false;
        };
    </script>
</div>

<!-- Body End -->

<!-- Mirrored from gambolthemes.net/html-items/cursus_demo_f12/instructor_courses.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 20 Jun 2020 12:59:08 GMT -->