<header class="header clearfix">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="back_link">
					<a href="index.html" class="hde151">Back To Cursus</a>
					<a href="index.html" class="hde152">Back</a>
				</div>
				<div class="ml_item">
					<div class="main_logo main_logo15" id="logo">
						<a href="index.html"><img src="/images/logo.svg" alt=""></a>
						<a href="index.html"><img class="logo-inverse" src="/images/ct_logo.svg" alt=""></a>
					</div>
				</div>
				<div class="header_right pr-0">
					<ul>
						<li class="ui top right pointing dropdown">
							<a href="#" class="opts_account">
								<img src="/images/hd_dp.jpg" alt="">
							</a>
							<div class="menu dropdown_account">
								<div class="channel_my">
									<div class="profile_link">
										<img src="/images/hd_dp.jpg" alt="">
										<div class="pd_content">
											<div class="rhte85">
												<h6>Joginder Singh</h6>
												<div class="mef78" title="Verify">
													<i class='uil uil-check-circle'></i>
												</div>
											</div>
											<span>gambol943@gmail.com</span>
										</div>
									</div>
									<a href="/my_instructor_profile_view.html" class="dp_link_12">View Instructor
										Profile</a>
								</div>
								<div class="night_mode_switch__btn">
									<a href="#" id="night-mode" class="btn-night-mode">
										<i class="uil uil-moon"></i> Night mode
										<span class="btn-night-mode-switch">
											<span class="uk-switch-button"></span>
										</span>
									</a>
								</div>
								<a href="instructor_dashboard.html" class="item channel_item">Cursus Dashboard</a>
								<a href="sign_in.html" class="item channel_item">Sign Out</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- Header End -->
<!-- Body Start -->
<div class="wrapper _bg4586 _new89">
	<div class="_215b15">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title125">
						<div class="titleleft">
							<div class="ttl121">
								<nav aria-label="breadcrumb">
									<ol class="breadcrumb">
										<li class="breadcrumb-item"><a href="index.html">Home</a></li>
										<li class="breadcrumb-item active" aria-current="page">Web Development</li>
									</ol>
								</nav>
							</div>
						</div>
						<div class="titleright">
							<div class="explore_search">
								<div class="ui search focus">
									<div class="ui left icon input swdh11 swdh15">
										<input class="prompt srch_explore" type="text" placeholder="Search">
										<i class="uil uil-search-alt icon icon2"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="title126">
						<h2>Web Development</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="sa4d25 mb4d25">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-lg-3 col-md-4">
					<div class="section3125 hstry142">
						<div class="result_stitles">
							<div class="rs6t_title">Filters</div>
							<div class="filter_selector">
								<div class="ui inline dropdown flt145">
									<div class="text">Sort</div>
									<i class="dropdown icon"></i>
									<div class="menu">
										<div class="item">Price: Low to High</div>
										<div class="item">Top Rated</div>
										<div class="item">Newest Courses</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tb_145">
							<div class="panel-group accordion" id="accordionfilter">
								<div class="panel panel-default">


								</div>
								<div class="panel panel-default">

								</div>


								<div class="panel panel-default">
									<div class="panel-heading" id="headingfour">
										<div class="panel-title10">
											<a class="collapsed" data-toggle="collapse" data-target="#collapsefour"
												href="#" aria-expanded="false" aria-controls="collapsefour">
												Price
											</a>
										</div>
									</div>
									<div id="collapsefour" class="panel-collapse collapse" aria-labelledby="headingfour"
										data-parent="#accordionfilter">
										<div class="panel-body">
											<div class="ui form">
												<div class="grouped fields">
													<div class="ui form checkbox_sign">
														<div class="inline field">
															<div class="ui checkbox mncheck">
																<input type="checkbox" tabindex="0" class="hidden">
																<label>Paid<span
																		class="filter__counter">(3000)</span></label>
															</div>
														</div>
													</div>
													<div class="ui form checkbox_sign">
														<div class="inline field">
															<div class="ui checkbox mncheck">
																<input type="checkbox" tabindex="0" class="hidden">
																<label>Free<span
																		class="filter__counter">(50)</span></label>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading" id="headingfive">
										<div class="panel-title10">
											<a class="collapsed" data-toggle="collapse" data-target="#collapsefive"
												href="#" aria-expanded="false" aria-controls="collapsefive">
												Features
											</a>
										</div>
									</div>
									<div id="collapsefive" class="panel-collapse collapse" aria-labelledby="headingfive"
										data-parent="#accordionfilter">
										<div class="panel-body">
											<div class="ui form">
												<div class="grouped fields">
													<div class="ui form checkbox_sign">
														<div class="inline field">
															<div class="ui checkbox mncheck">
																<input type="checkbox" tabindex="0" class="hidden">
																<label>Captions<span
																		class="filter__counter">(4780)</span></label>
															</div>
														</div>
													</div>
													<div class="ui form checkbox_sign">
														<div class="inline field">
															<div class="ui checkbox mncheck">
																<input type="checkbox" tabindex="0" class="hidden">
																<label>Quizzes<span
																		class="filter__counter">(890)</span></label>
															</div>
														</div>
													</div>
													<div class="ui form checkbox_sign">
														<div class="inline field">
															<div class="ui checkbox mncheck">
																<input type="checkbox" tabindex="0" class="hidden">
																<label>Coding Exercises<span
																		class="filter__counter">(350)</span></label>
															</div>
														</div>
													</div>
													<div class="ui form checkbox_sign">
														<div class="inline field">
															<div class="ui checkbox mncheck">
																<input type="checkbox" tabindex="0" class="hidden">
																<label>Practice Tests<span
																		class="filter__counter">(1050)</span></label>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading" id="headingsix">
										<div class="panel-title10">
											<a class="collapsed" data-toggle="collapse" data-target="#collapsesix"
												href="#" aria-expanded="false" aria-controls="collapsesix">
												Rating
											</a>
										</div>
									</div>
									<div id="collapsesix" class="panel-collapse collapse" aria-labelledby="headingsix"
										data-parent="#accordionfilter">
										<div class="panel-body">
											<div class="ui form">
												<div class="grouped fields">
													<div class="ui form checkbox_sign">
														<div class="inline field">
															<div class="ui checkbox mncheck">
																<input type="checkbox" tabindex="0" class="hidden">
																<label class="rating_filter">
																	<i class="uil uil-star"></i>
																	<i class="uil uil-star"></i>
																	<i class="uil uil-star"></i>
																	<i class="uil uil-star"></i>
																	<i class="uil uil-star"></i>
																	5.0 &amp; up
																	<span class="filter__counter">(5000)</span>
																</label>
															</div>
														</div>
														<div class="inline field">
															<div class="ui checkbox mncheck">
																<input type="checkbox" tabindex="0" class="hidden">
																<label class="rating_filter">
																	<i class="uil uil-star"></i>
																	<i class="uil uil-star"></i>
																	<i class="uil uil-star"></i>
																	<i class="uil uil-star"></i>
																	4.0 &amp; up
																	<span class="filter__counter">(2500)</span>
																</label>
															</div>
														</div>
														<div class="inline field">
															<div class="ui checkbox mncheck">
																<input type="checkbox" tabindex="0" class="hidden">
																<label class="rating_filter">
																	<i class="uil uil-star"></i>
																	<i class="uil uil-star"></i>
																	<i class="uil uil-star"></i>
																	3.0 &amp; up
																	<span class="filter__counter">(1500)</span>
																</label>
															</div>
														</div>
														<div class="inline field">
															<div class="ui checkbox mncheck">
																<input type="checkbox" tabindex="0" class="hidden">
																<label class="rating_filter">
																	<i class="uil uil-star"></i>
																	<i class="uil uil-star"></i>
																	2.0 &amp; up
																	<span class="filter__counter">(122)</span>
																</label>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-9 col-md-8">
					<div class="_14d25 mb-20">
						<div class="row">
							<div class="col-md-12">
								<h4 class="mhs_title">5 Results</h4>
								{{!-- {{#each course}} --}}
								<div class="fcrse_1">
									<a href="/course_detail_view" class="hf_img">
										<img src='{{images}}' alt="">
										<div class="course-overlay">
											<div class="badge_seller">Bestseller</div>
											<div class="crse_reviews">
												<i class="uil uil-star"></i>{{rating}}
											</div>
											<span class="play_btn1"><i class="uil uil-play"></i></span>
											<div class="crse_timer">
												25 hours
											</div>
										</div>
									</a>
									<div class="hs_content">
										<div class="eps_dots eps_dots10 more_dropdown">
											<a href="#"><i class="uil uil-ellipsis-v"></i></a>
											<div class="dropdown-content">
												<span><i class="uil uil-share-alt"></i>Share</span>
												<span><i class="uil uil-clock-three"></i>Watch Later</span>
												<span><i class="uil uil-ban"></i>Not Interested</span>
												<span><i class="uil uil-windsock"></i>Report</span>
											</div>
										</div>
										<div class="vdtodt">
											<span class="vdt14">{{views}} views</span>
											<span class="vdt14">{{createdDate}} days ago</span>
										</div>
										<a href="course_detail_view.html" class="crse14s title900">{{name}}</a>
										<a href="#" class="crse-cate">{{category}}</a>
										<div class="auth1lnkprce">
											<p class="cr1fot">By <a href="#">{{teacher}}</a></p>
											<div class="prce142">${{price}}</div>
										</div>
									</div>
								</div>
								{{!-- {{/each}} --}}
								<div class="main-loader mt-50">
									<div class="spinner">
										<div class="bounce1"></div>
										<div class="bounce2"></div>
										<div class="bounce3"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{{> footer}}
</div>

<!-- Mirrored from gambolthemes.net/html-items/cursus_demo_f12/search_result.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 20 Jun 2020 12:57:19 GMT -->