<head>
	<link href="https://vjs.zencdn.net/7.10.2/video-js.css" rel="stylesheet" />
</head>

<body>
	<!-- Video Model Start -->
	<div class="modal vd_mdl fade" id="videoModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<div class="modal-body">
					{{#if course.promotionalVideo}}
					<video controls>
						<source src="{{course.promotionalVideo}}">
					</video>
					{{else}}
					<iframe src="https://www.youtube.com/embed/Ohe_JzKksvA"
						allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
						allowfullscreen></iframe>
					{{/if}}
				</div>

			</div>
		</div>
	</div>
	<!-- Video Model End -->
	<!-- Header Start -->
	{{> header}}
	<!-- Header End -->
	<!-- Left Sidebar Start -->
	{{> nav_2}}
	<!-- Left Sidebar End -->
	<!-- Body Start -->
	<div class="wrapper _bg4586">
		<div class="_215b01">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="section3125">
							<div class="row justify-content-center">
								<div class="col-xl-4 col-lg-5 col-md-6">
									<div class="preview_video">
										<a href="#" class="fcrse_img" data-toggle="modal" data-target="#videoModal">
											{{#if course.avatar}}
											<img src="{{course.avatar}}" alt="">
											{{else}}
											<img src="/images/courses/img-2.jpg" alt="">
											{{/if}}
											<div class="course-overlay">
												<div class="badge_seller">Bestseller</div>
												<span class="play_btn1"><i class="uil uil-play"></i></span>
												<span class="_215b02">Preview this course</span>
											</div>
										</a>
									</div>
									{{#if user}}
									{{#is user.role "customer"}}
									<div class="_215b10">
										<form action='/watchlist/add' method="POST">

											<div class="_215b11">
												<input type="hidden" value="{{course.slug}}" name='slug'>
												{{#if isWatched}}
												<span><i class="fas fa-heart"></i></span>
												{{else}}
												<span><i class='uil uil-heart-alt'></i></span>
												{{/if}}
												<input type="submit" value="WatchList" class='_215b03'
													style="background:none;border:none;color:white">
											</div>
										</form>

									</div>
									{{/is}}
									{{/if}}
								</div>
								<div class="col-xl-8 col-lg-7 col-md-6">
									<div class="_215b03">
										<h2 data-id={{course.id}}>{{course.name}}</h2>
										<a href="/category/{{course.category}}"
											class="_215b04">{{course.categoryName}}</a>
										{{#if course.subcategory}}
										<span class="_215b04"> | </span>
										<a href="/course/search?subcategory={{course.subcategory}}" class="_215b04">
											{{course.subcategory}}</a>

										{{/if}}
									</div>
									<span class="_215b04">
										{{{course.shortDescription}}}

									</span>
									<div class="_215b05">
										<div class="crse_reviews mr-2">
											<i class="uil uil-star"></i> {{course.ratingsAverage}}
										</div>
										({{course.ratingsQuantity}} ratings)
									</div>
									<div class="_215b05">
										{{course.numStudents}} students enrolled
									</div>

									<div class="_215b05">
										Last Updated: {{course.lastUpdatedDate}}
									</div>
									<div class="_215b05">
										<h3>${{course.price}}</h3>

									</div>
									{{#if user}}
									{{#is user.role "customer"}}
									{{#if isPurchase}}
									<div class="_215b05">
										<h4>You already purchase this course</h4>
									</div>
									{{else}}
									<ul class="_215b31">

										<li>
											<form action="/cart/add" method="POST">

												<div class="input-group">
													<input type="hidden" value="{{course.slug}}" name="id">
													<button class="btn_adcart" id="add-cart-btn">Add to Cart</button>

											</form>
										</li>
										<li><button class="btn_buy" id="buy-btn">Buy Now</button></li>
									</ul>
									{{/if}}
									{{/is}}


									{{/if}}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="_215b15 _byt1458">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="user_dt5">
							<div class="user_dt_left">
								<div class="live_user_dt">
									<div class="user_img5">
										<a href="#"><img src="/images/left-imgs/img-1.jpg" alt=""></a>
									</div>
									<div class="user_cntnt">
										<a href="#" class="_df7852">{{course.teacherID.name}}</a>
									</div>
								</div>
							</div>
							<div class="user_dt_right">
								<ul>
									<li>
										<a href="#" class="lkcm152"><i
												class="uil uil-eye"></i><span>{{course.views}}</span></a>
									</li>
									<li>
										<a href="#" class="lkcm152"><i
												class="uil uil-thumbs-up"></i><span>100</span></a>
									</li>
									<li>
										<a href="#" class="lkcm152"><i
												class="uil uil-thumbs-down"></i><span>20</span></a>
									</li>
									<li>
										<a href="#" class="lkcm152"><i class="uil uil-share-alt"></i><span>9</span></a>
									</li>
								</ul>
							</div>
						</div>
						<div class="course_tabs">
							<nav>
								<div class="nav nav-tabs tab_crse justify-content-center" id="nav-tab" role="tablist">
									<a class="nav-item nav-link active" id="nav-about-tab" data-toggle="tab"
										href="#nav-about" role="tab" aria-selected="true">About</a>
									<a class="nav-item nav-link" id="nav-courses-tab" data-toggle="tab"
										href="#nav-courses" role="tab" aria-selected="false">Courses Content</a>
									<a class="nav-item nav-link" id="nav-reviews-tab" data-toggle="tab"
										href="#nav-reviews" role="tab" aria-selected="false">Feedback</a>
								</div>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="_215b17">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="course_tab_content">
							<div class="tab-content" id="nav-tabContent">
								<div class="tab-pane fade show active" id="nav-about" role="tabpanel">
									<div class="_htg451">

										<div class="_htg452 mt-35">
											<h3>Description</h3>
											{{{course.description}}}

											<!-- Recommended Courses -->

											<div class="container-fluid">
												<div class="row">
													<div class="col-xl-12 col-lg-12">
														<div class="section3125 mt-50">
															<h4 class="item_title">Recommended</h4>
															<a href="#" class="see150">See all</a>
															<div class="la5lo1">
																<div class="owl-carousel featured_courses owl-theme">
																	{{#each this.topTrending}}
																	<div class="item">
																		<div class="fcrse_1 mb-20">
																			<a href="course_detail_view.html"
																				class="fcrse_img">
																				{{#if avatar}}
																				<img src="{{avatar}}"
																					style="height: 180px;" alt="" />
																				{{else}}
																				<img src="images/courses/img-1.jpg"
																					alt="" />
																				{{/if}}
																				<div class="course-overlay">
																					<div class="badge_seller">Bestseller
																					</div>
																					<div class="crse_reviews">
																						<i class="uil uil-star"></i>4.5
																					</div>
																					<span class="play_btn1"><i
																							class="uil uil-play"></i></span>
																					<div class="crse_timer">25 hours
																					</div>
																				</div>
																			</a>
																			<div class="fcrse_content">
																				<div class="eps_dots more_dropdown">
																					<a href="#"><i
																							class="uil uil-ellipsis-v"></i></a>
																					<div class="dropdown-content">
																						<span><i
																								class="uil uil-share-alt"></i>Share</span>
																						<span><i
																								class="uil uil-clock-three"></i>Save</span>
																						<span><i
																								class="uil uil-ban"></i>Not
																							Interested</span>
																						<span><i
																								class="uil uil-windsock"></i>Report</span>
																					</div>
																				</div>
																				<div class="vdtodt">
																					<span class="vdt14">{{this.views}}
																						views</span>
																					<span
																						class="vdt14">{{this.createdDate}}</span>
																				</div>
																				<a href="/course/{{this.slug}}"
																					class="crse14s">{{this.name}}</a>
																				<div class="_215b03"
																					style="display:flex">
																					<a href="/category/{{category}}"
																						class="crse-cate">{{categoryName}}</a>
																					{{#if subcategory}}
																					<span
																						style="padding-left:5px; padding-right:5px">|</span>
																					<a href="/course/search?subcategory={{subcategory}}"
																						class="crse-cate">
																						{{subcategory}}</a>
																					{{/if}}
																				</div>
																				<div class="auth1lnkprce">
																					<p class="cr1fot">By <a
																							href="#">{{this.teacherID.name}}</a>
																					</p>
																					<div class="prce142">${{this.price}}
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>

																	{{/each}}
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="nav-courses" role="tabpanel">
									<div class="crse_content">
										<h3>Course content</h3>
										<div class="_112456">
											<ul class="accordion-expand-holder">
												<li><span class="accordion-expand-all _d1452">Expand all</span></li>
												<li><span class="_fgr123"> 402 lectures</span></li>
												<li><span class="_fgr123">47:06:29</span></li>
											</ul>
										</div>

										<div id="accordion" class="ui-accordion ui-widget ui-helper-reset">
											{{#each this.contents}}
											<a href="javascript:void(0)"
												class="accordion-header ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all">
												<div class="section-header-left">
													<span class="section-title-wrapper">
														<i class='uil uil-presentation-play crse_icon'></i>
														<span class="section-title-text">{{this.name}}</span>
													</span>
												</div>
											</a>

											<div
												class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom">
												{{#each this.lectures}}
												<div class="lecture-container">
													<div class="left-content">
														<i class='uil uil-file icon_142'></i>
														<div class="top">

															<div class="title">
																<button class="btn btn-outline-light btn-sm"
																	onclick=getVideo("{{this.reference}}")>{{name}}</button>

																<div class="show-video-{{this.name}}">
																	<video id="my-video" class="video-js" controls
																		preload="auto" width="640" height="264"
																		poster="MY_VIDEO_POSTER.jpg" data-setup="{}">
																		<source src="{{this.reference}}" type="video/mp4" />
																		<p class="vjs-no-js">
																			To view this video please enable JavaScript,
																			and
																			consider upgrading to a
																			web browser that
																			<a href="https://videojs.com/html5-video-support/"
																				target="_blank">supports HTML5 video</a>
																		</p>
																	</video>
																</div>

															</div>
														</div>
													</div>
													<div class="details">
														<span class="content-summary">00:12</span>
													</div>
												</div>
												{{/each}}

											</div>
											{{/each}}
											<div
												class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom">
												<div class="lecture-container">
													<div class="left-content">
														<i class='uil uil-play-circle icon_142'></i>
														<div class="top">
															<div class="title">Unit Objectives</div>
														</div>
													</div>
													<div class="details">
														<a href="#" class="preview-text">Preview</a>
														<span class="content-summary">01.40</span>
													</div>
												</div>
												<div class="lecture-container">
													<div class="left-content">
														<i class='uil uil-file icon_142'></i>
														<div class="top">
															<div class="title">Note about Setting Up Front-End Developer
																Environment
															</div>
														</div>
													</div>
													<div class="details">
														<span class="content-summary">00:30</span>
													</div>
												</div>
												<div class="lecture-container">
													<div class="left-content">
														<i class='uil uil-play-circle icon_142'></i>
														<div class="top">
															<div class="title">Setting Up Front-End Developer
																Environment</div>
														</div>
													</div>
													<div class="details">
														<span class="content-summary">03:11</span>
													</div>
												</div>
												<div class="lecture-container">
													<div class="left-content">
														<i class='uil uil-file icon_142'></i>
														<div class="top">
															<div class="title">Note about Introduction to the Web</div>
														</div>
													</div>
													<div class="details">
														<span class="content-summary">00:11</span>
													</div>
												</div>
												<div class="lecture-container">
													<div class="left-content">
														<i class='uil uil-play-circle icon_142'></i>
														<div class="top">
															<div class="title">Introduction to the Web</div>
														</div>
													</div>
													<div class="details">
														<span class="content-summary">10.08</span>
													</div>
												</div>
												<div class="lecture-container">
													<div class="left-content">
														<i class='uil uil-play-circle icon_142'></i>
														<div class="top">
															<div class="title">The Front End Holy Trinity</div>
														</div>
													</div>
													<div class="details">
														<a href="#" class="preview-text">Preview</a>
														<span class="content-summary">11:46</span>
													</div>
												</div>
											</div>

										</div>
										<a class="btn1458" href="#">20 More Sections</a>
									</div>
								</div>
								<div class="tab-pane fade" id="nav-reviews" role="tabpanel">
									<div class="student_reviews">
										<div class="row">
											<div class="col-lg-5">

												<div class="reviews_left">
													<h3>Student Feedback</h3>
													<div class="total_rating">
														<div class="_rate001">{{this.course.ratingsAverage}}</div>
														<div class="rating-box">
															<span class="rating-star full-star"></span>
															<span class="rating-star full-star"></span>
															<span class="rating-star full-star"></span>
															<span class="rating-star full-star"></span>
															<span class="rating-star half-star"></span>
														</div>
														<div class="_rate002">Course Rating</div>
													</div>
													<div class="_rate003">
														<div class="_rate004">
															<div class="progress progress1">
																<div class="progress-bar w-{{this.feedbackStat.[4]}}"
																	role="progressbar" aria-valuenow="70"
																	aria-valuemin="0" aria-valuemax="100"></div>
															</div>
															<div class="rating-box">
																<span class="rating-star full-star"></span>
																<span class="rating-star full-star"></span>
																<span class="rating-star full-star"></span>
																<span class="rating-star full-star"></span>
																<span class="rating-star full-star"></span>
															</div>
															<div class="_rate002">{{this.feedbackStat.[4]}}%</div>
														</div>
														<div class="_rate004">
															<div class="progress progress1">
																<div class="progress-bar w-{{this.feedbackStat.[3]}}"
																	role="progressbar" aria-valuenow="30"
																	aria-valuemin="0" aria-valuemax="100"></div>
															</div>
															<div class="rating-box">
																<span class="rating-star full-star"></span>
																<span class="rating-star full-star"></span>
																<span class="rating-star full-star"></span>
																<span class="rating-star full-star"></span>
																<span class="rating-star empty-star"></span>
															</div>
															<div class="_rate002">{{this.feedbackStat.[3]}}%</div>
														</div>
														<div class="_rate004">
															<div class="progress progress1">
																<div class="progress-bar w-{{this.feedbackStat.[2]}}"
																	role="progressbar" aria-valuenow="10"
																	aria-valuemin="0" aria-valuemax="100"></div>
															</div>
															<div class="rating-box">
																<span class="rating-star full-star"></span>
																<span class="rating-star full-star"></span>
																<span class="rating-star full-star"></span>
																<span class="rating-star empty-star"></span>
																<span class="rating-star empty-star"></span>
															</div>
															<div class="_rate002">{{this.feedbackStat.[2]}}%</div>
														</div>
														<div class="_rate004">
															<div class="progress progress1">
																<div class="progress-bar w-{{this.feedbackStat.[1]}}"
																	role="progressbar" aria-valuenow="2"
																	aria-valuemin="0" aria-valuemax="100"></div>
															</div>
															<div class="rating-box">
																<span class="rating-star full-star"></span>
																<span class="rating-star full-star"></span>
																<span class="rating-star empty-star"></span>
																<span class="rating-star empty-star"></span>
																<span class="rating-star empty-star"></span>
															</div>
															<div class="_rate002">{{this.feedbackStat.[1]}}%</div>
														</div>
														<div class="_rate004">
															<div class="progress progress1">
																<div class="progress-bar w-{{this.feedbackStat.[0]}}"
																	role="progressbar" aria-valuenow="0"
																	aria-valuemin="0" aria-valuemax="100"></div>
															</div>
															<div class="rating-box">
																<span class="rating-star full-star"></span>
																<span class="rating-star empty-star"></span>
																<span class="rating-star empty-star"></span>
																<span class="rating-star empty-star"></span>
																<span class="rating-star empty-star"></span>
															</div>
															<div class="_rate002">{{this.feedbackStat.[0]}}%</div>
														</div>
													</div>
												</div>

											</div>
											<div class="col-lg-7">
												<div class="review_right">
													<div class="review_right_heading">
														<h3>Feedbacks</h3>
														{{!-- <div class="review_search">
															<input class="rv_srch" type="text"
																placeholder="Search reviews...">
															<button class="rvsrch_btn"><i
																	class='uil uil-search'></i></button>
														</div> --}}
													</div>
												</div>
												<div class="review_all120">
													{{#each feedbacks}}
													<div class="review_item">
														<div class="review_usr_dt">
															<img src="/images/left-imgs/img-1.jpg" alt="">
															<div class="rv1458">
																<h4 class="tutor_name1">{{userID.name}}</h4>
																<span class="time_145">{{moment createdAt
																	format='DD-MM-YYYY'}}</span>
															</div>
														</div>
														<div class="rating-box mt-20">
															{{rating}} <span class="rating-star full-star"></span>
															{{!--
															{{#switch rating}}
															{{#case "1"}}
															<span class="rating-star full-star"></span>
															{{/case}}
															{{#case "2"}}
															<span class="rating-star full-star"></span>
															<span class="rating-star full-star"></span>
															{{/case}}
															{{#case "3"}}
															<span class="rating-star full-star"></span>
															<span class="rating-star full-star"></span>
															<span class="rating-star full-star"></span>
															{{/case}}
															{{#case "4"}}
															<span class="rating-star full-star"></span>
															<span class="rating-star full-star"></span>
															<span class="rating-star full-star"></span>
															<span class="rating-star full-star"></span>
															{{/case}}
															{{#case "5"}}
															<span class="rating-star full-star"></span>
															<span class="rating-star full-star"></span>
															<span class="rating-star full-star"></span>
															<span class="rating-star full-star"></span>
															<span class="rating-star full-star"></span>
															{{/case}}

															{{/switch}} --}}

														</div>
														<p class="rvds10">{{review}}</p>
														<div class="rpt100">
															<span>Was this feedback helpful?</span>
															<div class="radio--group-inline-container">
																<div class="radio-item">
																	<input id="radio-1" name="radio" type="radio">
																	<label for="radio-1" class="radio-label">Yes</label>
																</div>
																<div class="radio-item">
																	<input id="radio-2" name="radio" type="radio">
																	<label for="radio-2" class="radio-label">No</label>
																</div>
															</div>
															<a href="#" class="report145">Report</a>
														</div>
													</div>
													{{/each}}
												</div>
											</div>
										</div>
										{{!-- Send Review --}}
										{{#if feedbackable}}
										<form action="/feedback" method="POST">

											<div class="row" style="margin-top: 15px;">
												<div class="col-lg-5">
													<div class="textarea_dt">
														<div class="ui form swdh339">
															<div class="field">
																<textarea rows="5" name="review" id="reviewContent"
																	placeholder="Insert your review.."></textarea>
															</div>
															<select class="form-select"
																aria-label="Default select example"
																style="float: left; width: 40%; margin-right: 10px;"
																name='rating'>
																<option value="1">&star;</option>
																<option value="2">&star; &star;</option>
																<option value="3">&star; &star; &star;</option>
																<option value="4">&star; &star; &star; &star;</option>
																<option value="5">&star; &star; &star; &star; &star;
																</option>
															</select>
															<input type="hidden" name="courseID"
																value="{{this.course.id}}">
															<button type="submit" class="btn1542">Send review</button>
														</div>
													</div>
												</div>

											</div>
										</form>
										{{/if}}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	</div>
	{{> footer}}
	<script src="https://vjs.zencdn.net/7.10.2/video.min.js"></script>
	<script>
		function getVideo(reference)
		{
			console.log($(this).html())
		}
	</script>
	</div>
	<!-- Body End -->


</body>

<!-- Mirrored from gambolthemes.net/html-items/cursus_demo_f12/course_detail_view.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 20 Jun 2020 12:56:25 GMT -->

</html>