{{> header}}
<!-- Header End -->
<!-- Left Sidebar Start -->
{{> nav}}
<!-- Left Sidebar End -->
<!-- Body Start -->
<div class="wrapper _bg4586">
	<div class="_216b01">
		<div class="container-fluid">
			<div class="row justify-content-md-center">
				<div class="col-md-10">
					<div class="section3125 rpt145">
						<div class="row">
							<div class="col-lg-7">
								<div class="dp_dt150">
									<div class="img148">
										<img src="/images/left-imgs/img-3.jpg" alt="">
									</div>
									<div class="prfledt1">
										<h2>{{this.user.name}}</h2>

									</div>
								</div>
								<ul class="_ttl120">
									<li>
										<div class="_ttl121">
											<div class="_ttl122">Enroll Students</div>
											<div class="_ttl123">{{this.numStudents}}</div>
										</div>
									</li>
									<li>

									</li>
									<li>
										
									</li>
									<li>
										<div class="_ttl121">
											<div class="_ttl122">Courses</div>
											<div class="_ttl123">{{numCourse}}</div>
										</div>
									</li>
															
								</ul>
							</div>
							<div class="col-lg-5">
								<ul class="_bty149">
									<li><button class="msg125 btn500"
											onclick="window.location.href = '/profile/edit';">Edit</button></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="_215b15">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="course_tabs">
						<nav>
							<div class="nav nav-tabs tab_crse" id="nav-tab" role="tablist">
								<a class="nav-item nav-link active" id="nav-about-tab" data-toggle="tab"
									href="#nav-about" role="tab" aria-selected="true">About</a>
								<a class="nav-item nav-link" id="nav-courses-tab" data-toggle="tab" href="#nav-courses"
									role="tab" aria-selected="false">My Courses</a>
							
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="_215b17">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="course_tab_content">
						<div class="tab-content" id="nav-tabContent">
							<div class="tab-pane fade show active" id="nav-about" role="tabpanel">
								<div class="_htg451">
									<div class="_htg452">
										<h3>About Me</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
											scelerisque nibh sed ligula blandit, quis faucibus lorem pellentesque.
											Suspendisse pulvinar dictum pellentesque. Vestibulum at sagittis lectus, sit
											amet aliquam turpis. In quis elit tempus, semper justo vitae, lacinia massa.
											Etiam sagittis quam quis fermentum lacinia. Curabitur blandit sapien et
											risus congue viverra. Mauris auctor risus sit amet cursus sollicitudin.
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla feugiat
											sodales massa, in viverra dolor condimentum ut. In imperdiet, justo nec
											volutpat blandit, tellus justo tempor quam, sed pretium nibh nunc nec
											mauris. Mauris vel malesuada magna. Quisque iaculis molestie purus, non
											luctus mauris porta id. Maecenas imperdiet tincidunt mauris vestibulum
											vulputate. Aenean sollicitudin pretium nibh, et sagittis risus tincidunt ac.
											Phasellus scelerisque rhoncus massa, ac euismod massa pharetra non.
											Phasellus dignissim, urna in iaculis varius, turpis libero mollis velit, sit
											amet euismod arcu mi ac nibh. Praesent tincidunt eros at ligula pellentesque
											elementum. Fusce condimentum enim a tellus egestas, sit amet rutrum elit
											gravida. Pellentesque in porta sapien. Fusce tristique maximus ipsum et
											mollis. Sed at massa ac est dapibus vulputate at eu nibh.</p>
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="nav-courses" role="tabpanel">
								<div class="crse_content">
									<h3>My courses ({{numCourse}})</h3>
									<div class="_14d25">
										<div class="row">
											{{#each this.courses}}
											<div class="col-lg-3 col-md-4">
												<div class="fcrse_1 mt-30">
													<a href="/course/{{this.slug}}" class="fcrse_img">
														{{#if this.avatar}}
														<img src="{{this.avatar}}" alt="">
														{{else}}
														<img src="/images/courses/img-1.jpg" alt="">
														{{/if}}
														<div class="course-overlay">

															<div class="crse_reviews">
																<i class="uil uil-star"></i>4.5
															</div>
															<span class="play_btn1"><i class="uil uil-play"></i></span>
															<div class="crse_timer">
																25 hours
															</div>
														</div>
													</a>
													<div class="fcrse_content">
														<div class="eps_dots more_dropdown">
															<a href="#"><i class="uil uil-ellipsis-v"></i></a>
															<div class="dropdown-content">
																<span><i class="uil uil-share-alt"></i>Share</span>
																<span><i class="uil uil-edit-alt"></i>Edit</span>
															</div>
														</div>
														<div class="vdtodt">
															<span class="vdt14">{{this.views}} views</span>
															<span class="vdt14">15 days ago</span>
														</div>
														<a href="/course/{{this.slug}}"
															class="crse14s">{{this.name}}</a>
														<a href="#" class="crse-cate">{{this.categoryName}} |
															{{this.subcategory}}</a>
														<div class="auth1lnkprce">
															<p class="cr1fot">By <a href="#">{{this.user.name}}</a></p>
															<div class="prce142">{{this.price}}</div>
														</div>
													</div>
												</div>
											</div>
											{{/each}}


										</div>
									</div>
								</div>
							</div>

						
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{> footer}}
</div>