{{> header}}
<!-- Header End -->
<!-- Left Sidebar Start -->
{{> nav}}
<!-- Left Sidebar End -->
<!-- Body Start -->
<div class="wrapper _bg4586">
	<div class="_216b01">
		<div class="container-fluid">
			<div class="row justify-content-md-center">
				<div class="col-md-10">
					<div class="section3125 rpt145">
						<div class="row">
							<div class="col-lg-7">
								<div class="dp_dt150">
									<div class="img148">
										<img src="/images/left-imgs/img-3.jpg" alt="">
									</div>
									<div class="prfledt1">
										<h2>{{this.user.name}}</h2>
										<span>Web Developer</span>
									</div>
								</div>
								<ul class="_ttl120">
									<li>
										<div class="_ttl121">
											<div class="_ttl122">Enroll Students</div>
											<div class="_ttl123">{{this.numStudents}}</div>
										</div>
									</li>
									<li>
										<div class="_ttl121">
												<div class="_ttl122">Reviews</div>
												<div class="_ttl123">115K</div>
										</div>
									</li>
									<li>
										<div class="_ttl121">
												<div class="_ttl122">Subscribers</div>
												<div class="_ttl123">452K</div>
										</div>
									</li>
									<li>
										<div class="_ttl121">
											<div class="_ttl122">Courses</div>
											<div class="_ttl123">{{numCourse}}</div>
										</div>
									</li>
															
								</ul>
							</div>
							<div class="col-lg-5">
								<div class="rgt-145">
										<ul class="tutor_social_links">
											<li><a href="#" class="fb"><i class="fab fa-facebook-f"></i></a></li>
											<li><a href="#" class="tw"><i class="fab fa-twitter"></i></a></li>
											<li><a href="#" class="ln"><i class="fab fa-linkedin-in"></i></a></li>
											<li><a href="#" class="yu"><i class="fab fa-youtube"></i></a></li>
										</ul>
									</div>
								<ul class="_bty149">
									<li><button class="msg125 btn500"
											onclick="window.location.href = '/profile/edit';">Edit</button></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="_215b15">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="course_tabs">
						<nav>
							<div class="nav nav-tabs tab_crse" id="nav-tab" role="tablist">
								<a class="nav-item nav-link active" id="nav-about-tab" data-toggle="tab"
									href="#nav-about" role="tab" aria-selected="true">About</a>
								<a class="nav-item nav-link" id="nav-courses-tab" data-toggle="tab" href="#nav-courses"
									role="tab" aria-selected="false">Courses</a>
							
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="_215b17">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="course_tab_content">
						<div class="tab-content" id="nav-tabContent">
							<div class="tab-pane fade show active" id="nav-about" role="tabpanel">
								<div class="_htg451">
									<div class="_htg452">
										<h3>About Me</h3>
										<p>Currently Technical Director and 3D Generalist on my own in the world of visual effects.
											I have been giving training online and in various training centers and companies for over 7 years now and have trained several thousand people in dozens of countries around the world.
											My taste for pedagogy pushes me to always go further in my teaching methods in order to produce training of the highest possible quality.
											I hope to count you soon as a student in one of my trainings on Udemy.</p>
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="nav-courses" role="tabpanel">
								<div class="crse_content">
									<h3>Courses ({{numCourse}})</h3>
									<div class="_14d25">
										<div class="row">
											{{#each this.courses}}
											<div class="col-lg-3 col-md-4">
												<div class="fcrse_1 mt-30">
													<a href="/course/{{this.slug}}" class="fcrse_img">
														{{#if this.avatar}}
														<img src="{{this.avatar}}" alt="" style="height: 180px">
														{{else}}
														<img src="/images/courses/img-1.jpg" alt="">
														{{/if}}
														<div class="course-overlay">

															<div class="crse_reviews">
																<i class="uil uil-star"></i>4.5
															</div>
															<span class="play_btn1"><i class="uil uil-play"></i></span>
															<div class="crse_timer">
																25 hours
															</div>
														</div>
													</a>
													<div class="fcrse_content">
														<div class="eps_dots more_dropdown">
															<a href="#"><i class="uil uil-ellipsis-v"></i></a>
															<div class="dropdown-content">
																<span><i class="uil uil-share-alt"></i>Share</span>
																<span><i class="uil uil-edit-alt"></i>Edit</span>
															</div>
														</div>
														<div class="vdtodt">
															<span class="vdt14">{{this.views}} views</span>
															<span class="vdt14">15 days ago</span>
														</div>
														<a href="/course/{{this.slug}}"
															class="crse14s">{{this.name}}</a>
														<a href="#" class="crse-cate">{{this.categoryName}} |
															{{this.subcategory}}</a>
														<div class="auth1lnkprce">
															<p class="cr1fot">By <a href="../instructor-profile?id={{{this.teacherID._id}}}">{{this.teacherID.name}}</a></p>
															<div class="prce142">{{this.price}}</div>
														</div>
													</div>
												</div>
											</div>
											{{/each}}


										</div>
									</div>
								</div>
							</div>

						
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{> footer}}
</div>