{{> header_1}}
<!-- Header End -->
<!-- Body Start -->
<div class="wrapper _bg4586 _new89">
	<div class="_215b15">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title125">
						<div class="titleleft">
							<div class="ttl121">
								<nav aria-label="breadcrumb">
									<ol class="breadcrumb">
										<li class="breadcrumb-item"><a href="/">Home</a></li>
										<li class="breadcrumb-item active" aria-current="page">{{capitalize
											this.categories}}</li>
									</ol>
								</nav>
							</div>
						</div>
						<div class="titleright">
							<div class="explore_search">
								<form action="/course" id="form--search">
									<div class="ui search focus">
										<div class="ui left icon input swdh11 swdh15">

											<input name="q" class="prompt srch_explore" type="text"
												placeholder="Search">
											<i class="uil uil-search-alt icon icon2"></i>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="title126">
						<h2>{{CatName}}</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="sa4d25 mb4d25">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-lg-3 col-md-4">
					<div class="section3125 hstry142">
						<div class="result_stitles">

							<div class="rs6t_title">Filters</div>
							<div class="filter_selector">
								<div class="ui inline dropdown flt145">
									<div class="text" id='name-sort'>Sort</div>
									<i class="dropdown icon"></i>
									<div class="menu">
										<div class="item course-sort" data-sort-type="price"><a
												href="?sort="></a>Price: Low to High</a> </div>
										<div class="item course-sort" data-sort-type="-ratingsAverage"><a
												href="?sort="></a>Top Rated</div>
										<div class="item course-sort" data-sort-type="-createdAt"><a
												href="?sort="></a>Newest Courses</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tb_145">
							<div class="panel-group accordion" id="accordionfilter">
								<div class="panel panel-default">


								</div>
								<div class="panel panel-default">

								</div>


								<div class="panel panel-default">
									<div class="panel-heading" id="headingfour">
										<div class="panel-title10">
											<a class="collapsed" data-toggle="collapse" data-target="#collapsefour"
												href="#" aria-expanded="false" aria-controls="collapsefour">
												Price
											</a>
										</div>
									</div>
									<div id="collapsefour" class="panel-collapse collapse" aria-labelledby="headingfour"
										data-parent="#accordionfilter">
										<div class="panel-body">
											<div class="ui form">
												<div class="grouped fields">
													<div class="ui form checkbox_sign">
														<div class="inline field">
															<div class="ui checkbox mncheck">
																<input type="radio" tabindex="0" class="hidden"
																	value="paid" name="price">
																<label>Paid<span
																		class="filter__counter">(3000)</span></label>
															</div>
														</div>
													</div>
													<div class="ui form checkbox_sign">
														<div class="inline field">
															<div class="ui checkbox mncheck">
																<input type="radio" tabindex="0" class="hidden"
																	value="free" name="price">
																<label>Free<span
																		class="filter__counter">(50)</span></label>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading" id="headingfive">
										<div class="panel-title10">
											<a class="collapsed" data-toggle="collapse" data-target="#collapsefive"
												href="#" aria-expanded="false" aria-controls="collapsefive">
												Features
											</a>
										</div>
									</div>
									<div id="collapsefive" class="panel-collapse collapse" aria-labelledby="headingfive"
										data-parent="#accordionfilter">
										<div class="panel-body">
											<div class="ui form">
												<div class="grouped fields">
													<div class="ui form checkbox_sign">
														<div class="inline field">
															<div class="ui checkbox mncheck">
																<input type="checkbox" tabindex="0" class="hidden">
																<label>Captions<span
																		class="filter__counter">(4780)</span></label>
															</div>
														</div>
													</div>
													<div class="ui form checkbox_sign">
														<div class="inline field">
															<div class="ui checkbox mncheck">
																<input type="checkbox" tabindex="0" class="hidden">
																<label>Quizzes<span
																		class="filter__counter">(890)</span></label>
															</div>
														</div>
													</div>
													<div class="ui form checkbox_sign">
														<div class="inline field">
															<div class="ui checkbox mncheck">
																<input type="checkbox" tabindex="0" class="hidden">
																<label>Coding Exercises<span
																		class="filter__counter">(350)</span></label>
															</div>
														</div>
													</div>
													<div class="ui form checkbox_sign">
														<div class="inline field">
															<div class="ui checkbox mncheck">
																<input type="checkbox" tabindex="0" class="hidden">
																<label>Practice Tests<span
																		class="filter__counter">(1050)</span></label>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading" id="headingsix">
										<div class="panel-title10">
											<a class="collapsed" data-toggle="collapse" data-target="#collapsesix"
												href="#" aria-expanded="false" aria-controls="collapsesix">
												Rating
											</a>
										</div>
									</div>
									<div id="collapsesix" class="panel-collapse collapse" aria-labelledby="headingsix"
										data-parent="#accordionfilter">
										<div class="panel-body">
											<div class="ui form">
												<div class="grouped fields">
													<div class="ui form checkbox_sign">
														<div class="inline field">
															<div class="ui checkbox mncheck">
																<input type="radio" tabindex="0" class="hidden"
																	value="5" name="ratingsAverage">
																<label class="rating_filter">
																	<i class="uil uil-star"></i>
																	<i class="uil uil-star"></i>
																	<i class="uil uil-star"></i>
																	<i class="uil uil-star"></i>
																	<i class="uil uil-star"></i>
																	5.0
																	<span class="filter__counter">(5000)</span>
																</label>
															</div>
														</div>
														<div class="inline field">
															<div class="ui checkbox mncheck">
																<input type="radio" tabindex="0" class="hidden"
																	value="4" name="ratingsAverage">
																<label class="rating_filter">
																	<i class="uil uil-star"></i>
																	<i class="uil uil-star"></i>
																	<i class="uil uil-star"></i>
																	<i class="uil uil-star"></i>
																	4.0
																	<span class="filter__counter">(2500)</span>
																</label>
															</div>
														</div>
														<div class="inline field">
															<div class="ui checkbox mncheck">
																<input type="radio" tabindex="0" class="hidden"
																	value="3" name="ratingsAverage">
																<label class="rating_filter">
																	<i class="uil uil-star"></i>
																	<i class="uil uil-star"></i>
																	<i class="uil uil-star"></i>
																	3.0
																	<span class="filter__counter">(1500)</span>
																</label>
															</div>
														</div>
														<div class="inline field">
															<div class="ui checkbox mncheck">
																<input type="radio" tabindex="0" value="2"
																	name="rating">
																<label class="rating_filter">
																	<i class="uil uil-star"></i>
																	<i class="uil uil-star"></i>
																	2.0
																	<span class="filter__counter">(122)</span>
																</label>
															</div>
														</div>
														<div class="inline field">
															<div class="ui checkbox mncheck">
																<input type="radio" tabindex="0" class="hidden"
																	value="1" name="ratingsAverage">
																<label class="rating_filter">
																	<i class="uil uil-star"></i>
																	1.0
																	<span class="filter__counter">(200)</span>
																</label>

															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="back_link justify-content-center" id="submit">
									<a href="#" class="hde151">Search</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-9 col-md-8">
					<div class="_14d25 mb-20">
						<div class="row">
							<div class="col-md-12">
								<h4 class="mhs_title">{{this.num}} Results</h4>
								{{#if empty}}
								<p>No matching results</p>
								{{else}}
								{{#each course}}
								<div class="fcrse_1 mb-4">
									<a href="/course/{{slug}}" class="hf_img">
										{{#if avatar}}
										<img src="{{avatar}}" style="height: 210px;" alt="">
										{{else}}
										<img src="/images/courses/img-11.jpg" alt="">
										{{/if}}
										<div class="course-overlay">
											<div class="badge_seller">Bestseller</div>
											<div class="crse_reviews">
												<i class="uil uil-star"></i>{{ratingsAverage}}
											</div>
											<span class="play_btn1"><i class="uil uil-play"></i></span>
											<div class="crse_timer">
												25 hours
											</div>
										</div>
									</a>
									<div class="hs_content">
										<div class="eps_dots eps_dots10 more_dropdown">
											<a href="#"><i class="uil uil-ellipsis-v"></i></a>
											<div class="dropdown-content">
												<span><i class="uil uil-share-alt"></i>Share</span>
												<span><i class="uil uil-clock-three"></i>Watch Later</span>
												<span><i class="uil uil-ban"></i>Not Interested</span>
												<span><i class="uil uil-windsock"></i>Report</span>
											</div>
										</div>
										<div class="vdtodt">
											<span class="vdt14">{{views}} views</span>
											<span class="vdt14">Created at: {{createdDate}}</span>
										</div>
										<a href="../course/{{slug}}" class="crse14s title900">{{name}}</a>
										<a href="../category/{{category}}" class="crse-cate">{{categoryName}}</a>
										<div class="auth1lnkprce">
											<p class="cr1fot">By <a href="#">{{teacherID.name}}</a></p>
											<div class="prce142">${{price}}</div>
										</div>
									</div>
								</div>
								{{/each}}

								<div class="main-loader mt-50">
									<nav aria-label="Page navigation example">
										<ul class="pagination justify-content-center">
											<li class="page-item vien">
												<a class="page-link node" href="?page={{this.prev_page}}"
													style="color:#21d4c5" aria-label="Next">
													<span aria-hidden="true">&laquo;</span>
												</a>
											</li>

											{{#each this.page_numbers}}
											{{#if isCurrentPage}}
											<li class="page-item vien">
												<button class="page-link acnode" onclick="paginate({{value}})"
													style="color:white;background-color:#21d4c5">{{value}}</button>
											</li>
											{{else}}
											<li class="page-item vien">
												<button class="page-link node" onclick="paginate({{value}})"
													style="color:#21d4c5">{{value}}</button>
											</li>
											{{/if}}
											{{/each}}
											<li class="page-item vien">
												<button class="page-link node" onclick="paginate({{value}})"
													style="color:#21d4c5" aria-label="Next">
													<span aria-hidden="true">&raquo;</span>
												</button>

											</li>

										</ul>
									</nav>
								</div>

								{{/if}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>


		$("#submit").click(function () {
			var str = $('input[type=radio]:checked').map(function () {
				return this.name + "=" + this.value;
			}).get().join("&");
			if (str != "") str += "";
			else str += str;

			var nextURL = window.location.href;
			var index = nextURL.indexOf("?");
			if (index === -1) {
				nextURL = nextURL + "?" + str;
			}
			else {
				nextURL = nextURL.substr(0, index);
				nextURL = nextURL + "?" + str;
			}


			window.location.replace(nextURL);
			console.log(nextURL);

		});

		function paginate(page) {
			var queryParams = new URLSearchParams(window.location.search);

			queryParams.delete('page');
			queryParams.append('page', page);
			window.location.search = queryParams.toString();
		}
	</script>

	<!-- Body End -->